<div class="container mt-5" style="margin-left: 200px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0 text-center">Add a New Blog</h4>
                </div>
                <div class="card-body">
                    <form action="/admin/blogs/add" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Blog Title</label>
                            <input type="text" class="form-control" name="title" id="title"
                                placeholder="Enter blog title" required />
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Content</label>
                            <textarea class="form-control" id="content" name="body" rows="6" required>
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="coverImage" class="form-label">Cover Image</label>
                            <input class="form-control" type="file" name="coverImage" id="coverImage" required />
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Categories</label>
                            <select class="form-select" id="category" name="category" required>
                                <% if (categories.length> 0) { %>
                                    <option value="" disabled selected>Choose a category</option>
                                    <% categories.forEach(category=> { %>
                                        <option value="<%= category.categoryName %>">
                                            <%= category.categoryName %>
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option value="" disabled selected>No categories available</option>
                                                <% } %>
                            </select>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary px-4">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>